@use '@styles' as *;

$game-details-tabs-tab-height: 3.25rem;

.game-details-tabs {
  position: relative;
  z-index: 1;
  display: grid;
  flex: 0 0 auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  background: rgba($color-background, 0.5);
  backdrop-filter: blur(16px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.game-details-tabs-tab {
  height: $game-details-tabs-tab-height;
  color: $color-text-subtle;
  background: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: $app-border-width solid transparent;
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
}

.game-details-tabs-tab:hover,
.game-details-tabs-tab:focus-visible {
  color: $color-text-primary;
}

.game-details-tabs-tab-active {
  color: $color-text-primary;
  border-bottom-color: $color-text-primary;
}
