@use '@styles' as *;

.confirm-dialog-body {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  padding: $spacing-md $spacing-xl;
}

.confirm-dialog-message {
  color: $color-text-subtle;
  font-size: $font-size-base;
}

.confirm-dialog-button {
  min-height: $input-height;
}

.confirm-dialog-button-danger {
  color: $color-danger;
  border-color: rgba($color-danger, 0.64);
}
