@use '@styles' as *;

.window-shell {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  background: $color-background;
  color: $color-text-primary;
}

.window-shell-body {
  display: flex;
  min-height: 0;
  flex: 1;
}

.layout {
  display: flex;
  min-height: 0;
  flex: 1;
  background: $color-background;
  color: $color-text-primary;
}

.layout-main {
  flex: 1;
  min-width: 0;
  padding: $spacing-xl;
  overflow: auto;
  background: $color-background;
}

.layout-main-content {
  width: 100%;
  height: 100%;
}
