@use '@styles' as *;

.game-profiles-section {
  background: $color-background;
}

.game-profiles-section-empty {
  margin: 0;
  padding: $spacing-xl;
  color: $color-text-subtle;
  border-bottom: $app-border;
  font-size: $font-size-base;
}
