@use '@styles' as *;

$game-search-min-width: 16rem;

.game-search {
  display: flex;
  min-width: $game-search-min-width;
  flex-direction: column;
  gap: $spacing-xs;
}

.game-search-input {
  height: $input-height;
  padding: 0 $spacing-md;
  border-radius: 0;
}
